* {
	font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none;
}

table.menubar td {
	padding-top: 10pt;
	padding-bottom: 1pt;
}

table.menubar a {
	font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none;
	font-size: large;
	color: black;
}

table.menubar a:hover {
	color: #6060ff;
}

table.menubar a.selected {
	color: #404040;
	border-bottom: solid;
}

table.menubar {
	border-right: solid thin;
	border-right-color: #404040;
	padding-right: 10pt;
	margin-right: 20pt;
	/*position: fixed;
	top: 0;*/
}

pre.shell, pre.programlisting, pre.screen {
	padding: 10pt;
	border: solid thin;
	background: #e0e0e0;
	border-color: #a0a0a0;
}

div.dp-highlighter {
	border: solid thin;
	background: #e0e0e0;
	border-color: #a0a0a0;
}

p.shell {
	padding-top: 5pt;
}

td.main {
}

*.main h1 {
	padding-top: 10pt;
	border-bottom: solid thin;
}

*.main h2 {
	padding-left: 10pt;
}

*.main h3 {
	padding-left: 20pt;
}

*.main p {
	padding-left: 20pt;
}

*.main pre {
	margin-left: 20pt;
}

pre, pre *, div.dp-highlighter * {
	font-family: Consolas, "Andale Mono", monospace;
}

span.comment {
	color: #505050;
}

span.keyword {
	color: #202080;
	font-weight: bold;
}

span.string {
	color: #209020;
}

span.function {
	color: #800040;
}

h1 {
	color: #808080;
}

h2 {
	color: #505050;
	font-weight: normal;
}

h3 {
	color: #303030;
	font-weight: normal;
}

*.main a:link {
	color: #5050e0;
}

*.main a:visited {
	color: #101070;
}

a.thumbnaillink {
	border: none;
	font-weight: bold;
}

img.thumbnail {
	border: none;
}

table.images {
	border-spacing: 15pt;	
}

div.variablelist {
	margin-left: 16pt;
}

div.variablelist dt {
	font-weight: bold;
}


div.sect2 {
	margin-left: 16pt;
}

div.sect3 {
	margin-left: 32pt;
}

span.type {
	font-weight: bold;
	color: #202060;
}

span.token {
	font-weight: bold;
	color: #202060;
}

code.literal {
	color: #208020;
}

table.mailinglists {
	border: solid thin black;
	border-collapse: collapse;
	
}

table.mailinglists th {
	background: #e0e0e0;
	border: solid thin black;
}

table.mailinglists td {
	border: solid thin black;
	padding: 2pt;
}
