#body,html {
   height: 100%;
}

a { 
   text-decoration: none
}

#scriptNav {
   width: 100%;
   border: 1px solid black;
   float: left;
   line-height: 2em;
}

#editor {
   width: 100%;
   height: 30%;
   border: 1px solid black;
}

#editorButtons {
   width: 100%;
   border: 1px solid black;
}

#swiftOutputDiv {
   width: 100%;
   border: 1px solid black;
   overflow-y: scroll;
   overflow-x: hidden;
}

#swiftOutput {
   width: 100%;
}

#example {
   float: left;
}

#explanation {
   float: left;
   padding-left: 20px;
   top:50%
}

#outputs {
   visibility: hidden;
}
