#header {
	width: 100%;
	background-position: center;
}
body {
	margin: 0px auto;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	background: #fff no-repeat center top;
	background:url(../images/bg_page.png) repeat-x;
	font-size:16px;
	line-height: 1.3em;
}

body#home a.home, 
body#downloads a.downloads, 
body#about a.about, 
body#docs a.docs, 
body#papers a.papers, 
body#apps a.apps, 
body#support a.support{
	background-color: #666;
	color:#FFFFFF;
}


a:link {
	font-family: myriad-pro-1,myriad-pro-2, Arial, Helvetica, sans-serif;
	font-weight:400;
	font-style: normal;
	font-weight: normal;
	color: #3366cc;
	text-decoration: none;
}
a:visited {
	font-family: myriad-pro-1,myriad-pro-2, Arial, Helvetica, sans-serif;
	font-weight:400;
	font-style: normal;
	color: #3366cc;
	text-decoration: none;
}
a:hover {
	font-family: myriad-pro-1,myriad-pro-2, Arial, Helvetica, sans-serif;
	font-weight:400;
	font-style: normal;
	color: #0099cc;
	text-decoration: underline;
}

pre, pre *, div.dp-highlighter * {
	font-family: Consolas, "Andale Mono", Monaco, monospaced;
	padding-left:30px;
	color:#699;
}

/************* MENU ************/

#nav {
font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	font-size: 18px;
	margin: 0px auto;
	padding: 60px 0px 0px 0px;
	color: #fff;
}

#nav ul {
	width: 100%s;
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-align: center;
}

#nav li {
	display: inline;
	border-right: 1px solid #0066cc;
}

#nav .last {
	border-right: 0px;
}

#nav a {
	font-size: 18px;
	padding-right: 16px;
	padding-left: 12px;
	text-decoration: none;
        color: #fff;
	text-shadow: 0px 2px 3px #333;
}

#nav a:hover {
         background-color: #5f82b8; 
}

.tagline {
        font-family: myriad-pro-1,myriad-pro-2, Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-style: normal;
	text-align:center;
	font-size: 20px;
	text-shadow: 1px 1px 1px #ccc;
	padding: 30px 0px 30px 0px;
	color:#333;
}

#content {
	width: 100%;
	margin: 0px 0px 40px 0px;
	padding: 20px 0px 0px 0px;
	border-top: thin #000 solid;
	color: #333;
}

p {
	padding: 0px 0px 15px 20px;
}

.image {
  background-color: #eee;
  margin: 3px auto;
  padding: 3px;
  border: 1px solid #ccc;
  width: 525px;

}

.caption{
    border: 1px #ccc solid;
    padding:3px;
    background-color: #FCFAFA;
    font-size: 11px;
  margin: 3px auto;
    width: 525px;
}


.highlight{
	border: 1px #ccc solid;
	padding: 5px;
	background-color: #FCFAFA;
	font-size: 0.9em;
	margin-left: 10px;
	white-space: pre;
	position: relative;
	left: 28px;
	width: 90%;
}

.code{
	border: 1px #ccc solid;
	padding: 10px;
        padding-left: 30px;
	background-color: #FCFAFA;
        font-family: monospace;
	font-size: 0.9em;
	margin-left: 10px;
        margin: 10px;
	white-space: pre; 
	position: relative;
	left: 28px;
	width: 60%;
}

.codetable { 
	border: 1px #ccc solid;
	background-color: #FCFAFA;
        font-family: monospace;
	font-size: 0.9em;
	white-space: pre;         
	padding: 10px;
}

pre.shell, pre.programlisting {
	padding: 10pt;
	background: #FCFAFA;
	border: 1px #ccc solid;
	white-space: normal;
}

div.dp-highlighter {
	background: #FCFAFA;
	border: 1px #ccc solid;
	white-space: normal;
	margin: 10px;
}


.mailinglists {
	width: 85%;
	margin: 0 0 0 35px;
	font-size:12px;
}

.mailinglists td {
	padding: 5px 5px;
	line-height: 16px;
	background-color: #f0f0f0;
        font-size:15px;
}

.mailinglists th {
	font-size: 12px;
	text-align: left;
	color:#333;
	padding: 7px;
	font-family: myriad-pro-1,myriad-pro-2, Arial, Helvetica, sans-serif;
	font-weight:600;
	font-style: normal;
        font-size:15px;
	background-color: #e0e0e0;
}

#left {
	float: left;
	width: 70%;
	padding: 0px 10px 70px 5px;
	border-right: 1px #ccc dashed;
	margin-bottom: 20px;
	margin-top: 10px;
}

#right {
	float: left;
	width: 185px;
	color: #FFF;
	margin: 30px 2px 70px 5px;
/*	border: 1px #ddd solid;
	background-color: #FCFAFA;*/
	padding: 5px;
	
}
#right h3 {
	margin: 0px;
	font-size: 1.1em;
	color: #333;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
	font-family: myriad-pro-1,myriad-pro-2, Arial, Helvetica, sans-serif;
	font-weight:600;
	font-style: normal;
	
}
#right h4 {
	margin: 0px;
	font-size: 1.0em;
	color: #333;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	font-family: myriad-pro-1,myriad-pro-2, Arial, Helvetica, sans-serif;
	font-weight:600;
	font-style: normal;
	
}
#right p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	color: #333333;
	padding: 0px 5px 0px 5px;
	margin: 0px;
}
#right a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #3366cc;
	text-decoration: none;
}
#right a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #3366cc;
	text-decoration: none;
}
 #right a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #0099cc;
	text-decoration: underline;
}

.featurebox_side {
	background-color: #eee;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
	padding:4px;
	border: 1px dotted #4E8787;
	font-family: arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	color: #333333;
}

#left p{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 17px;
	color: #333333;
	padding: 5px 30px 0px 30px;
	
	margin: 0px 0px 8px 0px;
}

#left ul{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 17px;
}

#left li{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 17px;
	list-style:circle;
	margin: 10px 10px 10px 35px;
}

h1 {
	margin: 0px;
	font-size: 2.0em;
	color: #333;
	padding-top: 0px;
	padding-bottom: 10px;
	font-family: myriad-pro-1,myriad-pro-2, Arial, Helvetica, sans-serif;
	font-weight:400;
	font-style: normal;
	text-shadow: 1px 1px 1px #dedede;
	
}
h2 {
	margin: 0px;
	font-size: 1.4em;
	color: #333;
	padding:15px 0px 10px 0px;
	font-family: myriad-pro-1,myriad-pro-2, Arial, Helvetica, sans-serif;
	font-weight:600;
	font-style: normal;
	text-shadow: 1px 1px 1px #dedede;
	text-transform:uppercase;
}
h3 {
	margin: 0px;
	font-size: 1.3em;
	color: #333;
	padding-bottom: 10px;
	font-family: myriad-pro-1,myriad-pro-2, Arial, Helvetica, sans-serif;
	font-weight:600;
	font-style: normal;
	text-shadow: 1px 1px 1px #dedede;
}
h4 {
	margin: 0px;
	font-size: 1.2em;
	color: #333;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	font-family: myriad-pro-1,myriad-pro-2, Arial, Helvetica, sans-serif;
	font-weight:600;
	font-style: normal;
}
h5 {
	margin: 0px;
	font-size: 1.0em;
	color: #666;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	font-family: myriad-pro-1,myriad-pro-2, Arial, Helvetica, sans-serif;
	font-weight:600;
	font-style: normal;
	text-transform:uppercase;
}
#container {
	background-color: #FFFFFF;
	font-size: 10px;
	font-weight: normal;
	border: 1px #ccc solid;
	width: 850px;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 3px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;		
}
/************* FOOTER ************/

#footer {
	background-color: #f2f5f8;
	text-align: center;
	padding: 20px 20px 50px 20px;
	color: #999;
}
#footer .footer-blurb {
	width: 550px;
	font-size: 0.8em;
	padding-top: 20px;
}

.footer-blurb {
	text-align: center;	
	margin-left: auto;
    margin-right: auto;
	line-height: 1.2em;
}
#footer a {
	font-size: 1.0em;
	padding-right: 12px;
	padding-left: 10px;
	text-decoration: none;
	color: #66ccff;
}

#footer a:hover {
	color: #66ccff;
	text-decoration:underline;
}

#footer a:link {
	font-weight: normal;
	color: #3366cc;
	text-decoration: none;
}
#footer a:visited {
	color: #3366cc;
	text-decoration: none;
}
#footer a:hover {
	color: #3366cc;
	text-decoration: underline;
}
#footer ul {
	width: 100%s;
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-align: center;
}

#footer li {
	display: inline;
	border-right: 1px solid #999;
}

#footer .last {
	border-right: 0px;
}

/* Syntax highlighting stuff */

span.comment {
	color: #505050;
}

span.keyword {
	color: #202080;
	font-weight: bold;
}

span.string {
	color: #209020;
}

span.function {
	color: #800040;
}


#feature {
	padding: 0px 0px 40px 0px;	
}
.trailingLink {
	display:block;
	padding: 0px 0px 26px 52px;
	height:24px;
	line-height: 1.3em;
	background:url(../images/bullet.png) 30px 1px no-repeat ;
	float: left;
	font-size: 1.0em;
}

.trailingLinkPDF {
	display:block;
	padding: 0px 0px 26px 54px;
	height:24px;
	line-height: 1.3em;
	background:url(../images/bullet_pdf.png) 30px 1px no-repeat ;
	float: left;
	font-size: 1.0em;
}


ul {
	list-style-type: none;
	padding: 0px 0px 15px 10px;
	margin-left: 0px;
	line-height: 1.5em;	
}
.swift-bullet li{
	background: url(../images/bullet_swift.png) 0px 3px no-repeat;
	padding-left:22px;
}
.indented {
	padding-left: 20px;
}
.indented-half {
	padding-left: 10px;
}
#box-prime {
	text-align:center;
	padding: 15px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #eaeaea; 
	font-size: 0.9em;
	background: url(../images/bg_box_shaded.png) 0px 0px repeat-x;
	-webkit-box-shadow: 0 1px 50px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,.1);
	box-shadow: 0 1px 5px rgba(0,0,0,.1);
	line-height: 1.2em;
	margin-bottom: 15px;
}
.button_175 {
	background: url(../images/button_bg_175_sp.png) 2px 0px no-repeat;
	width: 180px;
	height: 40px;
	font-family: myriad-pro-1,myriad-pro-2, Arial, Helvetica, sans-serif;
	font-weight:600;
	font-style: normal;
	font-size: 1.4em;
	line-height: 1.8em;
	color: #fff;
	padding: 10px 0px 0px 0x;
	margin-left: auto;
    margin-right: auto;
	margin-bottom: 8px
}

.button_175:hover {
	background: url(../images/button_bg_175_sp.png) 2px -40px no-repeat;
}
.button_175 a {
	color: #fff;
	text-shadow: 0 0 2px rgba(56,115,183,.7);
}
.button_175 a:hover {
	color: #fff;
	text-decoration:none;
	text-shadow: 0 0 3px rgba(52,103,165,.9);
}
.highlight-A {
	padding: 10px 40px 15px 120px;
	background: url(../images/icon_special_A.png) 60px 13px no-repeat;
}
.highlight-B {
	padding: 10px 40px 25px 120px;
	background: url(../images/icon_special_B.png) 60px 13px no-repeat;
}
.highlight-C {
	padding: 10px 40px 25px 120px;
	background: url(../images/icon_special_C.png) 60px 13px no-repeat;
}
.highlight-D {
	padding: 10px 40px 25px 120px;
	background: url(../images/icon_special_D.png) 60px 13px no-repeat;
}
#nav .current {
	color: #fff;
}
#holder {
	position:absolute;
}
#mover {
	position:relative;
	top: 92px;
}
.page-header {
	padding:40px 0px 20px 0px;
}
#box-prime h2 {
	text-align:left;
	font-size: 1.5em;
	padding: 0px 0px 10px 0px;
}
.authors {
}
.title{
	font-weight:600;
}
.source{
	font-style:italic;
}
.date{
	color:#666;
	font-size:0.8em;
}
.publication {
	padding-bottom: 15px;
	padding-left: 30px;
}
.quote {
	padding: 20px 15px 20px 20px;
	background: url(../images/bg_quotes.png) 0px 0px no-repeat;
	font-style:italic;
	font-size: 0.9em;
}
.quote-speaker {
	padding-left: 30px;
	font-size: 0.7em;
	line-height: 1.2em;
}
